.main_home_container {
    .capa {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        background: url('../../public/banner-home.png') no-repeat center;
        background-color: #f9db79;

        h1 {
            color: #fff;
            font-size: 100px;
            text-shadow: 3px 5px 2px #474747;
            text-align: center;

            @media (max-width: 1080px) {
                font-size: 80px;
            }

            @media (max-width: 1024px) {
                font-size: 70px;
            }

            @media (max-width: 768px) {
                font-size: 50px;
            }

            @media (max-width: 375px) {
                font-size: 40px;
            }
        }
    }

    .infos_container {
        background-color: #fff;

        section {
            width: 100%;

            display: flex;
            flex-wrap: wrap;

            img {
                height: auto;
                width: 50%;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }

            aside {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                width: 50%;

                text-align: center;

                padding: 100px 50px;

                @media (max-width: 1080px) {
                    padding: 80px 40px;
                }

                @media (max-width: 1024px) {
                    padding: 70px 30px;
                }

                @media (max-width: 768px) {
                    width: 100%;
                    padding: 50px 20px;
                }

                @media (max-width: 375px) {
                    padding: 30px 10px;
                }

                h2 {
                    font-size: 36px;

                    @media (max-width: 1080px) {
                        font-size: 32px;
                    }

                    @media (max-width: 1024px) {
                        font-size: 30px;
                    }

                    @media (max-width: 768px) {
                        font-size: 28px;
                    }

                    @media (max-width: 375px) {
                        font-size: 26px;
                    }
                }

                span {
                    font-size: 20px;
                    @media (max-width: 1080px) {
                        font-size: 18px;
                    }

                    @media (max-width: 1024px) {
                        font-size: 16px;
                    }

                    @media (max-width: 768px) {
                        font-size: 14px;
                    }

                    @media (max-width: 375px) {
                        font-size: 12px;
                    }
                }

                p {
                    font-size: 16px;

                    @media (max-width: 1080px) {
                        font-size: 14px;
                    }

                    @media (max-width: 1024px) {
                        font-size: 13px;
                    }

                    @media (max-width: 768px) {
                        font-size: 12px;
                    }

                    @media (max-width: 375px) {
                        font-size: 10px;
                    }
                }
            }
        }

        .secao_intermediaria {
            flex-direction: row-reverse;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }
        
    }
}